/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
     background-color: #FFFFFF;
 }

 .logged_in_nav {
    float: right
 }

 .logged_in_nav a {
    float: left;
    color: #353535;
    text-align: center;
    text-decoration: none;
    padding-right: 10px;
    font-family: 'Roboto Slab', serif;
}

.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    color: #353535;
}

.title_container {
    text-align: center;
    clear: right;
    margin-bottom: 25px;    
}

.shop_info_container {
    margin-left: 100px;
    margin-top: 50px;
}

.shop_info_table_left {
    float: left;
}

.shop_info_table_right {
    clear: right;
}

.shop_info_table_right td, .shop_info_table_left td {
    padding-bottom: 10px;
}

.shop_name {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #353535;
}

.category_name {
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
}

.reviews_container {
    margin-left: 100px;
}

.reviews_table {
    width: 60%;
    margin-top: 20px;

}
