Your Reviews
<br>
<% @reviews.each do |review| %>
        <p><%= link_to review.shop.name, shop_path(review.shop) %></p>
        <p><%= review.content %></p>
        <p><%= link_to "Edit Review", edit_review_path(review) %></p>
<% end %>